name: Build

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.github/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.github/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1.1.14
      - name: Setup mingw
        uses: egor-tensin/setup-mingw@v2.2.0
      - name: Build
        run: sbt compile
      - name: Make
        run: make linux windows-bin mac